<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="AaOH5xy59eDW1iFUDm_fz7vo2iXNad49c4r9YgZ15UIJa8zdpZi7mrDL68aZge_BxYQ5BSlepRsSWKAw"/>
      <add name="clientSecret" value="EC0sE7duQyc2-HKKfvS-JRi85fZO464SHAKkCVgkwwcwFKeu50DSj0qbckczdFycl7pr1-iTQK9Agx7n"/>
    </settings>
  </paypal>
</configuration>